{% load static %}
<!DOCTYPE html>
<html>
  <link rel="stylesheet" href="{% static 'myglobal.css' %}">
<body>
   <table border='1'>
    <tr>
      <th>ID</th>
      <th>Firstname</th>
      <th>Lastname</th>
    </tr>
    {% for x in mymembers %}
      <tr>
        <td>{{ x.id }}</td>
          <td>{{ x.firstname }}</td>
        <td>{{ x.lastname }}</td>
      </tr>
    {% endfor %}
  </table> 
  {% comment %} {% include "mymenu.html" with me="TOBIAS" sponsor="W3SCHOOLS" %}
  {% with firstname="Sepideh" %}
  {% if greeting == 1 %}
  <h1>Hello {{ firstname }}, how are you?</h1>
  {%  elif greeting == 2 %}
   <h1>Welcome , {{ firstname }}.</h1>
   {% else %}
  <h1>Goodbye</h1>
  {% endif %}

{% endwith %}
  <ul>
    {% for x in mymembers %}
      <li>{{ x.firstname }}</li>
    {% endfor %}
  </ul>

  {% for x in members reversed %}
  <h1>{{ x.id }}</h1>
  <p>
    {{ x.firstname }}
    {{ x.lastname }}
  </p>
{% endfor %}  
<ul>
  {% for x in emptytestobject %}
    <li>{{ x.firstname }}</li>
  {% empty %}
    <li>No members</li>
  {% endfor %}
</ul> 
<ul>
  {% for x in mymembers %}
    <li>{{ x.firstname }}</li>
  {% empty %}
    <li>No members</li>
  {% endfor %}
</ul> 
<! –– forloop.counter ––> 
<ul>
  {% for x in mymembers %}
    <li>{{ forloop.counter }}</li>
  {% endfor %}
</ul>
<! –– forloop.counter0 ––> 
<ul>
  {% for x in mymembers %}
    <li>{{ forloop.counter0 }}</li>
  {% endfor %}
</ul>  
<! –– forloop.first ––> 
<ul>
  {% for x in mymembers %}
    <li
      {% if forloop.first %}
        style='background-color:lightblue;'
      {% endif %}
    >{{ x }}</li>
  {% endfor %}
</ul> 
<! –– forloop.last ––> 
<ul>
  {% for x in mymembers %}
    <li
      {% if forloop.last %}
        style='background-color:lightblue;'
      {% endif %}
    >{{ x }}</li>
  {% endfor %}
</ul> 
<! –– forloop.revcounter ––> 
<ul>
  {% for x in mymembers %}
    <li>{{ forloop.revcounter }}</li>
  {% endfor %}
</ul> 
<! –– forloop.revcounter0 ––> 
<ul>
  {% for x in mymembers %}
    <li>{{ forloop.revcounter0 }}</li>
  {% endfor %}
</ul>
<! –– Comments ––> 
<h1>Welcome Everyone</h1>
{% comment %}
  <h1>Welcome ladies and gentlemen</h1>
{% endcomment %}
<! –– Comment Description ––> 
{% comment %} <h1>Welcome Everyone</h1> {% endcomment %}
{% comment "this was the original welcome message" %}
    <h1>Welcome ladies and gentlemen</h1>
{% endcomment %}
<! –– Smaller Comments ––> 
{% comment %} <h1>Welcome{# Everyone#}</h1> {% endcomment %}
{% comment %} {% include 'footer.html' %}  {% endcomment %}
</body>
</html>